@import "mixin.scss";

footer {
  background-color:#f2f2f2;
}
.footer {
  font-family: 'Noto Sans', sans-serif;
  max-width: 1920px;
    width: 100%;
    height: 545px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  &__container {
    width: 50%;
    &__title {
      display: flex;
      justify-content: space-between;
      &__h3 {
        line-height: 60px;
      }
      img {
        cursor: pointer;
      }
    }
    &__list {
      text-align: left;
      padding-left: 0;
      margin-bottom: 27px;
      & li {
        list-style: none;
        color: #999999;
      }
    }
    &__p {
      text-align: left;
      width: 65%;
      color: #999999;
    }
    &__h5 {
      color: #999999;
      margin: 70px 0 35px 0;
    }
  }
  h1 {
    text-align: left;
    font-size: 60px;
      @include tablet {
        font-size: 45px;
    }
  }
}