@import "mixin.scss";

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  font-family: 'Noto Sans', sans-serif;
}
.header {
  width: 100%;
  max-width: 1920px;
  &__profile {
    height: 40px;
    background-color: #dcdcdc;
    & ul {
      margin: 0;
      text-align: right;
      padding-right: 10%;
      justify-content: center;
      padding-top: 11px;
      padding-bottom: 11px;
      @include tablet {
        padding-right: 124px;
      }
      & li {
        display: inline;
        & a {
          text-decoration: none;
          color: black;
          cursor: pointer;
          font-size: 15px;
          padding: 11px 15px 11px 15px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          @include tablet {
            font-size: 11px;
          }
        }
        & a:hover {
          background: black;
          color: white;
        }
      }
    }
    
  }
  &__menu {
    background-color: #0ad09a;
    height: 60px;
    display: flex;
    padding: 0 180px 0 142px;
    align-items: center;
    @include tablet {
      padding: 0 100px 0 130px;
    }
    &__left {
      & a {
        color: white;
        font-size: 25px;
        text-decoration: none;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        @include tablet {
          font-size: 15px;
        }
        }
    }
    &__right {
      width: 100%;
      text-align: right;
      & ul {
        padding: 0;
      }
    }
    & ul li {
      display: inline;
      & a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-size: 18px;
        padding: 11px 15px 11px 15px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        @include tablet {
          font-size: 15px;
        }
        }
    }
  }
}

.section-1 {
  max-width: 1920px;
  width: 100%;
  display: flex;
  &__container {
    margin: 8% 0 0 6%;
    align-items: baseline;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      &__logo {
      display: flex;
        &__img {
          width: 417px; 
          height: 57px;
          @include tablet {
            width: 300px;
            height: 40px;
          }
        }
        &__background {
          background-color: #ff4646;
          font-size: 15px;
          border-radius: 5px;
          height: 23px;
          margin: 33px 0 0 10px;
          @include tablet {
            font-size: 10px;
            margin-top: 24px;
            height: 16px;
            margin-left: 0;
          }
          &__title {
            color: white;
            padding: 5px;
          }
        }
      }
    &__h1 {
      line-height: 40px;
      height: 215px;
      @include tablet {
        height: 111px;
      }
      h1 {
        font-size: 90px;
        line-height: 100px;
        margin-left: -7px;
        @include tablet {
          font-size: 50px;
          line-height: 50px;
          margin-left: 0px;
        }
      }
    }
    &__des {
      width: 73%;
      font-size: 20px;
      line-height: 25px;
      height: 25vh;
      display: inline-block;
  
      &__menu {
        line-height: 30px;
      }
    }
    &__des p {
      color: #999999;
      line-height: 30px;
      @include tablet {
        color: #999999;
        font-size: 12px;
        width: 91%;
        line-height: 20px;
      }
    }
    &__pagination {
      display: flex;
      float: right;
      margin-top: 105px;
      @include tablet {
        margin-top: 107px;
      }
      & p {
        width: 40px;
        height: 60px;
        font-size: 40px;
        @include tablet {
          width: 20px;
          height: 25px;
          font-size: 17px;
        }
      }
      & span {
        font-size: 15px;
        color: #999999;
        @include tablet {
          font-size: 10px;
        }
      }
    }
  }
  &__image {
    display: inline;
    margin-top: 3%;
    width: 55%;
    height: 600px;
    @include tablet {
      width: 53vw;
      height: 400px;
    }
  }
}
