$colorGray: #999999;
$colorWhite: white;
$colorBlack: black;
$tablet-width: 1366px;
$desktop-width: 1920px;
@mixin desktop {  
  @media (min-width: #{$desktop-width}) {
    @content;
   } 
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}