.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.border-gray {
  border: 2px solid gray;
}
// css for section 2
.background-section-2 {
  background-color: #71cec9;
  position: relative;
}
#section-2 {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  padding: {
    top: 75px;
    bottom: 75px;
  }
  .__article-left {
    width: 45%;
    position: relative;
  }
  .__article-right {
    width: 55%;
    font-family: "Noto Sans", sans-serif;
    color: #ffffff;
    .__title {
      margin: 210px 20px 0px 0px;
      font-size: 3.75rem;
      line-height: 1.2;
      letter-spacing: -1.8px;
    }
    .__description {
      font-size: 1.25rem;
      line-height: 1.75;
      letter-spacing: -0.85px;
    }
  }
}
#iphone {
  width: 444px;
  height: 723px;
  margin-left: 0px;
}
#mind {
  width: 181px;
  height: 104px;
  position: absolute;
  top: 298px;
  left: -60px;
}
#point {
  width: 195px;
  height: 83px;
  position: absolute;
  top: 254px;
  left: 215px;
}
#shadowing {
  width: 260px;
  height: 163px;
  position: absolute;
  top: 358px;
  left: 170px;
}
#rectangle {
  background-color: #51b0ab;
  width: 57%;
  height: 481px;
  opacity: 0.6;
  border-radius: 241px;
  position: absolute;
  top: 195px;
  left: -250px;
}
