@import 'mixin.scss';
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 100%;
}
.section-three{
    position: relative;
    max-width: 1920px;
    width:  100%;
    height: 870px;
    background-color: #f9fafc;
    @include tablet{
        width: 100%;
        height: 750px;
    }
    &__up{
        width: 100%;
        position: absolute;
        height: 300px;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        background-image: linear-gradient(to bottom, #f9fafc 25%, rgba(249, 250, 252, 0));
    }
    &__main{
        width: 100%;
        @include tablet {
            display: flex;
            justify-content: space-between;
        }
        &__left{
            float: left;
            width: 32em;
            margin-left: 15em;
            margin-top: 264px;
            @include tablet{
                margin-top: 200px;
                width: 27em;
                margin-left: 11em;
            }
            h2{
                font-family: 'Noto Sans', sans-serif;
                font-weight: bold;
                width: 85%;
                // -webkit-filter: blur(10px);
                // filter: 10px;
                font-size: 60px;
                line-height: 1.2;
                letter-spacing: -1.8px;
                color: #000000;
                @include tablet{
                    font-size: 51px;
                }
            }
            pre{
                font-family: 'Noto Sans', sans-serif;
                font-size: 1.1vw;
                width: 510px;
                height: 99px;
                margin: 30px 0 30px 10px;
                line-height: 1.75;
                letter-spacing: -0.6px;
                color: #929292;
            }
            div{
                button{
                    width: 145px;
                    height: 46px;
                    margin-left: 7px;
                    opacity: 0.5;
                    border: 1px solid #929292;
                    border-radius: 6px;
                    &:nth-child(1){
                        width: 134px;
                        height: 46px;
                        margin-left: 7px;
                        opacity: 0.5;
                        border: 1px solid #929292;
                        border-radius: 6px;
                        i{  
                            width: 13px;
                            height: 12.2px; 
                            color: #929292;
                            margin: 0.2px 0 0;
                         }
                    }
                     i{  
                        width: 9.6px;
                        height: 17.4px; 
                        color: #929292;
                        margin: 0 4.5px 0 0;
                     }
                     span{                    
                         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                         font-weight: bold;
                         margin-left: 13px;
                         font-size: 14px;
                         line-height: 2;
                         letter-spacing: -0.18px;
                         color: #929292;
                     }
                 }
            }
            
        }
        &__right{ 
            width: 45em;
            margin-top: 10px;
            float: right;
            // background: url('https://cdn.zeplin.io/5fc8667494a484172506b2ac/assets/dca14d5e-afaf-4a30-a3ae-7971379a9ae1.png')  no-repeat;
            height: 850px;
            margin-right: 17em;
            // background-size:contain;
            // box-shadow: inset 0 120px 80px -10px rgba(249, 250, 252, 0), inset 0 -136px 145px 120px #f9fafc;
            img{
                @include tablet{
                    width: 38em;
                    margin-right: 10em;
                    height: 720px;
                }
            }
            @include tablet{
                width: 38em;
                margin-right: 10em;
                height: 720px;
                
            }
        }
    }
    &__down{
        position: absolute;
        width: 100%;
        height: 300px;
        bottom: 0;
        // margin: 16px 0 0;
        // padding: 14px 1324px 240px 310px;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        background-image: linear-gradient(to top, #f9fafc 25%, rgba(249, 250, 252, 0));
    }
}